@import "tailwindcss";

:root {
  --font-family: var(--font-manrope), sans-serif;
  --second-family: var(--font-inter), sans-serif;

  --background: #ffffff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --button: #3470ff;
  --button-hover: #0b44cd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: var(--font-manrope);
  color: var(--main);
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease, opacity 0.2s ease;
}

button {
  cursor: pointer;
  font: inherit;
  background: none;
  border: none;
  outline: none;
  transition: all 0.2s ease;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}